---
title: Space Thief
---
{% include head.html %}
        <div id="video">
            <iframe
                src="https://www.youtube.com/embed/Rn04rbeH0Ig"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;top:0;bottom:0;margin:auto;height:100%;width:auto;}span{height:1.5em;text-align:center;font:80px/1.5 sans-serif;width:100%;color:#bdcf2b;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/Rn04rbeH0Ig?autoplay=1><picture><source type='image/webp' srcset='{{ site.media }}remember-preview.webp'><source type='image/jpeg' srcset='{{ site.media }}remember-preview.jpg'><img src=/{{ site.media }}remember-preview.jpg alt='Space Thief - Remember'></picture><span>&#9658;</span></a>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                title="Space Thief - Remember"
            ></iframe>
        </div>
        <div id="albums"><a href="https://spacethief.bandcamp.com">
            <img src="{{ site.media }}buy.jpg" alt="buy" title="Listen and Buy albums on Bandcamp">
        </a></div>
        <div id="songs"><a href="https://soundcloud.com/spacethief">
            <img src="{{ site.media }}stream.jpg" alt="stream" title="Listen on soundcloud"></a>
        </div>
        <div id="merch"><a href="https://www.zazzle.com/store/spacethiefmerch?rf=238212748211649695">
            <img src="{{ site.media }}wear.jpg" alt="merchandise" title="Fancy a T-shirt? How about a coaster? Available on Zazzle">
        </a></div>
        <div id="blog"><a href="https://spacebard.com">
            <img src="{{ site.media }}blog.jpg" alt="blog" title="Wordpress.com">
        </a></div>
{% include foot.html %}