---
title: Space Thief
---
{% include head.html %}
        <div id="video">
            <iframe
                src="https://www.youtube.com/embed/Rn04rbeH0Ig"
                srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;top:0;bottom:0;margin:auto;height:100%;width:auto;}span{height:1.5em;text-align:center;font:80px/1.5 sans-serif;width:100%;color:#bdcf2b;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/Rn04rbeH0Ig?autoplay=1><picture><source type='image/webp' srcset='{{ site.media }}remember-preview.webp'><source type='image/jpeg' srcset='{{ site.media }}remember-preview.jpg'><img src=/{{ site.media }}remember-preview.jpg alt='Space Thief - Remember'></picture><span>&#9658;</span></a>"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                title="Space Thief - Remember"
            ></iframe>
        </div>
        <div id="albums" class="icon-grid" title="Psst. Wanna buy an album?" style="background-image:url({{ site.media }}discman.jpg)"><a href="{{site.url}}/heists/">
            <span>Albums</span>
        </a></div>
        <div id="stream" class="icon-grid" style="background-image:url({{ site.media }}stream.jpg)">
            <span>Stream Thief</span>
            <section class="stream-links">
                <a class="soundcloud" title="Listen on Soundcloud" href="https://soundcloud.com/spacethief"><i class="fab fa-soundcloud"></i></a>
                <a class="apple" title="Listen on Apple Music" href="https://geo.music.apple.com/us/artist/space-thief/365405300?mt=1&app=music&ls=1"><i class="fab fa-apple"></i></a>
                <a class="amazon" title="Listen on Amazon Music" href="https://music.amazon.com/artists/B003F43ZVE/space-thief/"><i class="fab fa-amazon"></i></a>
                <a class="spotify" title="Listen on Spotify" href="https://open.spotify.com/artist/2yv9aPfgu9D6t2dAmcH7fV"><i class="fab fa-spotify"></i></a>
            </section>
        </div>
        <div id="merch" class="icon-grid" style="background-image:url({{ site.media }}merch.jpg)" title="Fancy a T-shirt? How about a coaster? Available on Zazzle"><a href="https://www.zazzle.com/store/spacethiefmerch?rf=238212748211649695">
            <span>Merch Table</span>
        </a></div>
        <div id="socials">
            <a href="https://www.patreon.com/spacebard" title="Support me on Patreon">
                <i class="fab fa-patreon"></i>
            </a>
            <a href="https://instagram.com/ben.ickler" title="Follow on Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC8C-JSBMv-c4bU8KitIyDFA" title="Watch me on Youtube">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
{% include foot.html %}
