<!DOCTYPE html>
<html lang="en-US">
<head>
    {% include featured-image.html %}
    <script src="https://kit.fontawesome.com/67eb250e26.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico" sizes="32x32">
    <link rel="shortcut icon" sizes="196x196" href="{{site.baseurl}}/favicon.ico">
    <link rel="apple-touch-icon" href="{{site.baseurl}}/favicon.ico" sizes="180x180">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <div id="page" class="{{page.title | slugify}}">
        <header>
            {% unless page.title == 'Space Thief' %}
            <a href="{{site.url}}">
            {% endunless %}
            <section class="logo">
                <picture>
                    <source type="image/webp" srcset="{{ site.media }}stlogo.webp">
                    <source type="image/png" srcset="{{ site.media }}stlogo.png">
                    <img src="{{ site.media }}stlogo.png" alt="Space Thief">
                </picture>
            </section>
            {% unless page.title == 'Space Thief' %}
            </a>
            {% endunless %}
        </header>
        